/*-------------------------------------------*/
/* CSS COMPONENTS */
/*-------------------------------------------*/

/* 
Frontstore:
Dark orange background: #99442B;
Secondary bright orange: #EE4F3E;
*/

/*------------------------------------------------*/
/* BASICS */
/*------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #99442b;
    color: #fff; 
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px; 
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    margin: 0;
    overflow: visible;
    position: relative;
  }
  
  .custom-page-container {
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
  }
  
  /* ----- DISPLAY ----- */  /* ANNE BASTIEN #40133471 */
  *:focus {
    outline: none !important;
  }
  
  /* Container 1: To Keep Footer on the Bottom */
  .content-container {
    position: relative;
    min-height: 100vh;
  }
  
  /* Container 2: To Keep Footer on the Bottom */
  .content-without-footer {
    padding-top: 120px;
    padding-bottom: 130px;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover,
  a:active {
    color: #ee4f3e;
  }
  
  /* ----- GRID DISPLAY ---- */  /* ANNE BASTIEN #40133471 */
  
  .custom-row {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .colmn {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
  }
  
  .colmn:first-child {
    margin-left: 0;
  }
  
  /* ----- GRID FRACTIONS -----*/ /* ANNE BASTIEN #40133471 */
  
  .one-third {
    width: 32.26%;
  }
  
  .two-third {
    width: 64.52%;
  }
  
  .one-half {
    width: 49.2%;
  }
  
  .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  /* ~~~~ to clear float after using it ~~~~ */
  /* ~~~~ add to parent of element with float property ~~~~ */
  
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }
  
  /*-------------------------------------------*/
  /*  REUSABLE */
  /*-------------------------------------------*/
  
  /*----- BUTTONS -----*/  /* ANNE BASTIEN #40133471 */
  
  
  button {
    color: #fff;
    cursor: pointer;
    border: none;
    text-decoration: none;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    font-size: 80%;
    background-color: #ee4f3e;
    border-radius: 8px;
    padding: 5px 20px;
  }
  
  button .delete-item-bttn {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .bttn:link,
  .bttn:visited,
  .section-cart .product-format {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    font-size: 80%;
    font-family: "Exo", sans-serif;
    color: #fff;
  }
  
  .section-cart .product-format {
      padding: 2px 5px;
  }
  
  .bttn-circle:link,
  .bttn-circle:visited,
  .button-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 80%;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    background-color: #ee4f3e;
    line-height: 22px;
  }
  
  .bttn-full:link,
  .bttn-full:visited,
  .section-cart .product-format{
    background-color: #ee4f3e;
  }
  
  .bttn:hover,
  .bttn:active,
  .bttn-circle:hover,
  .bttn-circle:active,
  button:hover{
    background-color: #f16b5d;
  }
  
  .long-bttn {
    width: 100%;
    font-size: 120%;
    padding: 10px;
  }
  
  /*----- HEADERS ------*/ 
  
  .header.navbar {
    -webkit-box-shadow: 0 3px 3px #7e3824;
            box-shadow: 0 3px 3px #7e3824;
  }
  
  h1 {
    margin: 0;
    font-size: 350%;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 4px;
    word-spacing: 4px;
    padding: 0 30px;
  }
  /*login forms*/
  
  h2 {
    font-size: 200%;
    font-family: "Orbitron", sans-serif;
    margin-bottom: 10px;
    padding: 0 30px;
    letter-spacing: 1px;
  }
  
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 140%;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  
  h5 {
    font-family: Roboto, sans-serif;
    font-size: 70%;
  }
  
  /* -----INPUTS -----*/  /* ANNE BASTIEN #40133471 */
  
  input[type="text"] {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-weight: 300;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .qty {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
  }
  
  /*----- NAVBAR SLIDE IN FROM LEFT ------*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6f230d;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 4;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 100%;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #db8d51;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 150%;
    margin-left: 50px;
  }
  
  hr {
    background-color: #ac3614;
    height: 2px;
    padding: 0;
    margin: 0 10px 0 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    } /*FONTSIZE*/
  }
  
  .aisle-link {
    font-family: "Exo", sans-serif;
  }
  
  /*-----NAVIGATION BAR ON TOP -----*/
  ion-icon {
    font-size: 160%;
    color: #db8d51;
  }
  
  .navbar-custom {
    background-color: #99442b;
    color: #db8d51;
    font-family: "Orbitron", sans-serif;
    border-bottom: 10px solid #ee4f3e;
    z-index: 3;
  }
  
  .show-mobile {
    display: none;
  }
  
  .hide-mobile {
    display: block;
  }
  
  /* -----FOOTER ----- */
  .custom-footer {
    background-color: #99442b;
    width: 100%;
    height: 100px;
    bottom: 0%;
    left: 0%;
    margin: 20px 0 0 0;
    padding: 15px 0px 20px 0px;
    border-top: 10px solid #ee4f3e;
    text-align: center;
    position: absolute;
  }
  
  /*-------------------------------------------*/
  /*  PAGES  */
  /*-------------------------------------------*/
  
  /* ----- FRONT STORE ----- */
  
  /* WELCOME STORE PAGE - ANNE BASTIEN 40133471*/
  
  .welcome {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))),
      url(img/hero.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
      url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
      url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .welcome-store {
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: 30px;
    text-align: left;
  }
  
  .welcome-store a {
    margin-left: 30px;
  }
  
  .background-containter {
    width: 100vw;
  }
  
  /* PRODUCT - ANNE BASTIEN #40133471*/
  
  .section-products { position: relative; }
  
  .section-products .one-half:first-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      vertical-align: center;
  }
  
  .section-products .one-half:last-child button {float: right;}
  
  .section-products img {
    border-radius: 8px;
    width: 100%;
    padding: 0;
    min-width: 250px;
    min-height: 250px;
  }
  
  .section-products h3 {font-family: "Exo", sans-serif;}
  
  .section-products h5 {
    text-align: center;
    vertical-align: middle;
  }
  
  .product-info {
    width: 100%;
    max-width: 300px;
  }
  
  .product-info:last-of-type {padding-left: 20px;}
  
  .product-info-element {margin-bottom: 15px;}
  
  .product-info #price-per-unit {font-size: 90%;}
  
  #manufacturer {color: #ee4f3e;}
  
  .product-format button {
      margin-right: 10px;
      border-radius: 8px !important;
      padding: 2px 10px !important;
      font-size: 80% !important;
      background-color: #ee4f3e !important;
      color: #fff !important;
    } 

    .product-format button:hover{
        background-color: #f16b5d !important;
}
    
  
  .accordion,
  .accordion-header {
    padding: 0 !important;
    margin-top: 12px;
  }
  
  .accordion-button,
  .accordion-button::after {
    padding: 10px;
    color: #fff;
    border: none;
  }
  
  .accordion-button::after,
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    /*background-repeat: no-repeat;*/
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #ee4f3e !important;
    color: #fff;
  }
  
  /* SHOPPING CART - ANNE BASTIEN #40133471*/
  
  .section-cart .custom-row h2 {
    font-family: "Exo", sans-serif;
    font-size: 200%;
    font-weight: 600;
    padding: 0px;
  }
  
  .section-cart img {
    vertical-align: middle;
    min-width: 100px;
    max-width: 150px;
    height: 100%;
    margin: 10px 3% 10px 2%;
    width: 33%;
    border-radius: 8px;
  }
  
  .section-cart .mobile-wrapper {
    display: inline-block;
    width: 42%;
    vertical-align: middle;
  }
  
  .section-cart #price-per-unit {font-size: 75%;}
  
  .section-cart p {margin-bottom: 0;}
  
  .cart-header {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
  }
  
  .cart-element {
      display: inline-block;
      vertical-align: middle;
      width: 22%;
  }
  
  .cart-element.item-descrpt {
      display: inline-block;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 10px;
  }
  
  .cart-item {
    border-bottom: 1px solid #fff;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  
  .cart-item h3 {
    font-size: 100%;
    font-weight: bold;
    font-family: "Exo", sans-serif;
  }
  
  .cart-item .button-circle,
  .cart-item input[type="text"] {float: left;}
  
  .cart-item .qty {
    display: block;
    width: 100%;
  }
  
  .total-price-item {
      width: 10%;
      font-size: 90%;
  }
  
  .total-price-item h3 {text-align: center;}
  
  .delete-item-bttn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px 5px;
      font-size: 100%;
      background-color: rgba(0, 0, 0, 0);
  }
  
  .order-summary.colmn {margin-left: 10px;}
  
  .price-descriptors {
    float: left;
    padding-left: 10px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
  }
  
  .price-list {
    float: right;
    padding-right: 10px;
    text-align: right;
    font-family: 'Exo', sans-serif;
  }
  
  .cart-total {
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 20px;
  }

  #empty-cart img {
    width: 100%;
    max-width: none;
    margin:0;
  }

  .empty-cart-container {
      position: relative;
      text-align: center;
      color: #fff;
  }

  #empty-cart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-size: 100%;
  }
  
  /* ----- BACK STORE ----- */
  
  .backstore-font {
    font-family: Audiowide;
  }
  
  .my-tab {
    padding-top: 25px;
    background-color: #ffffff;
  }
  
  .thead {
    background-color: #454545;
    /*background-color: #2E86C1;*/
    color: white;
  }
  
  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
    background-color: #ccc;
  }
  
  /*===========================================*/
  /*  MEDIA QUERIES  */
  /*===========================================*/
  
  /*Big tablet to 1200px (widths smaller than the 1140px row)*/
  @media only screen and (max-width: 1200px) {

    /* WELCOME STORE - ANNE BASTIEN #40133471 */
      .welcome-store {
          width: 100%;
          margin: 0 auto 0 30px;
          padding-right: 50px;
    }
  }
  
  /*Small tablet to big tablet: from 768px to 1023px*/
  @media only screen and (max-width: 1023px) {
    .add-btn { margin-bottom: 25px;}
  
    /* PRODUCT - ANNE BASTIEN #40133471*/
  
    .section-products .one-third:first-child { display: none;}
  
    .section-products .one-third { width: 48%;}
  
    .product-info { max-width: 350px;}
  
    .content-without-footer {
      margin-left: 25px;
      margin-right: 25px;
    }
  
    .colmn { padding: 0;}
  
    .section-products img {
      max-width: 338px;
      float: right;
    }
  }
  
  /* Small phones to small tablets: from 481px-767px */
  @media only screen and (max-width: 767px) {
    .show-mobile { display: block;}
    .hide-mobile { display: none;}
  
    /* WELCOME PAGE - ANNE BASTIEN #40133471 */
    .welcome h1 { font-size: 250%;}
    .welcome h2 { font-size: 120%;}
  
    /* CART - ANNE BASTIEN #40133471 */
    .cart-list,
    .order-summary { width: 100%; }
    .section-cart .colmn { margin: 0%;}
  
    .custom-page-container {
        margin-right: 0;
        margin-left: 0;
    }

  }
  
  /* Small phones: From 0 to 480px */
  @media only screen and (max-width: 480px) {
  
    /* WELCOME PAGE - ANNE BASTIEN #40133471 */
    .welcome h1 { font-size: 200%;}
    .welcome h2 { font-size: 100%;}
    .welcome-store { margin: 0 auto 0 10px;}
  
    /* PRODUCT - ANNE BASTIEN #40133471 */
    .section-products.content-without-footer {
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    .section-products .colmn { margin: 0;}
  
    .order-summary { font-size: 90%;}
  
    .content-without-footer {
      margin-right: 0;
      margin-left: 0;
    }
  
    /* CART - ANNE BASTIEN #40133471 */
    .cart-item h3 { font-size: 80%;}
  
    .section-cart .mobile-wrapper { width: 38%;}
  
    .total-price-item { width: 12%;}
  
    .section-cart .button-circle {
      height: 25px;
      width: 25px;
      line-height: 16px;
    }
    .cart-header { padding-top: 10px;}
  
    .section-cart #price-per-unit,
    .section-cart #price{ font-size: 65%;}

    .section-cart .product-format {
      -webkit-appearance:none;
    }
  
    /* NAVBAR */
    ion-icon { font-size: 120%;}
  
    /*HOMEPAGE*/
    .firstTitle { padding-left: 0;}
  }
  
  @media only screen and (max-width: 300px) {
    /* CART - ANNE BASTIEN #40133471 */
    .cart-element {
      display: block;
      width: 100%;
      float: none;
    }
    .section-cart .mobile-wrapper {
      display: block;
      width: 100%;
    }
  
    .section-cart img {
      margin-left: 0;
      margin-right: 0;
      max-width: 200px;
      width: 100%;
      margin: 30px auto 10px auto;
    }
  
    .delete-item-bttn{ top: -30px;}
  
    .section-cart .mobile-wrapper {
      max-width: 200px;
      margin: 0 auto;
    }
  
    .total-price-item {
      display: inline-block;
      width: 50%;
    }
  
    .total-price-item h3 { float: right;}
  
    /* PRODUCT - ANNE BASTIEN #40133471 */
  
    .section-products img {
      min-width: 0;
      min-height: 0;
    }
  }
  
  /* ADDITIONAL MEDIA QUERY BREAK POINTS */
  
  @media only screen and (max-width: 670px) {

      /* PRODUCT - ANNE BASTIEN #40133471 */

      .section-products .one-third { width: 100%;}
      .section-products img,
      .product-info {
          float: none;
          margin: 0 auto;
          display: block;
      }
      
      .section-products img { margin-bottom: 10px;}
      
      .product-info:last-of-type { padding-left: 0px;}
      
      .product-info { max-width: 338px;}
  }
  
  /* LOGIN PAGE */
  @media only screen and (max-width: 577px) {
      .container input[type="text"],
      input[type="password"],
      input[type="email"] {
      width: 100% !important;
    }
    /* signup page */
      .container { width: 100% !important;}
  }
