/*-------------------------------------------*/
/* CSS COMPONENTS */
/*-------------------------------------------*/

/*------------------------------------------------*/
/* BASICS */
/*------------------------------------------------*/

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,
body {
    background-color: #99442B;
    color: #fff; /* white font */
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px; /* any modified font size should be a percentage ... see h1 for example*/
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

    height: 100%;
    min-height: 100%;
    margin:0;
}

.custom-page-container{
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 15px;
    padding-right: 15px;
    
}

/* DISPLAY */

.row {
    max-width: 1200px; 
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

a {
    text-decoration: none;
    color: #fff;
}


/* GRID DISPLAY */


.col {
    display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

/* GRID FRACTIONS*/

.one-third {
    width: 32.26%;
    
}

.one-half {
    width: 49.2%;
}



/* ~~~~ to clear float after using it ~~~~ */
/* ~~~~ add to parent of element with float property ~~~~ */

/*.clearfix {zoom: 1}
.clearfix:after { 
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    
}*/




/*-------------------------------------------*/
/*  REUSABLE */
/*-------------------------------------------*/



/*----- BUTTONS -----*/

.bttn:link,
.bttn:visited {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s;
    font-size: 80%;
    font-family: 'Exo', sans-serif;
    color: #fff;
}

.bttn-circle:link,
.bttn-circle:visited{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 80%;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.bttn-full:link,
.bttn-full:visited,
.bttn-circle:link,
.bttn-circle:visited{
    background-color: #EE4F3E;
}

.bttn:hover,
.bttn:active,
.bttn-circle:hover,
.bttn-circle:active{
    background-color: #f16b5d;
    
}

/*----- HEADERS ------*/

h1 {
    margin:0;
    font-size: 350%;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 4px;
    word-spacing: 4px;
    padding: 0 30px;
}

h2 {
    font-size: 110%;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 10px; 
    padding: 0 30px;
    letter-spacing: 1px;
}

h3 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
}

h5 {
    font-family: Roboto, sans-serif;
    font-size: 70%;
}


/*----- ICONS ------*/


/*----- NAVBAR SLIDE IN FROM LEFT ------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6F230D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 4;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 100%;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #db8d51;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 150%;
    margin-left: 50px;
}
        
hr{
    background-color: #ac3614;
    height: 2px;
    padding:0;
    margin: 0 10px 0 10px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;} /*FONTSIZE*/
  }

  .aisle-link{
    font-family: 'Exo', sans-serif;
  }


/*--NAVIGATION BAR ON TOP --*/
ion-icon{
    font-size: 160%;
    color:  #db8d51
}

.navbar-custom{
    background-color: #99442B;
    color: #db8d51; 
    font-family: 'Orbitron', sans-serif;
    border-bottom:10px solid #EE4F3E;
    z-index: 3;
}

/*---FOOTER ---*/
.custom-footer{
    background-color: #99442B;
    width: 100%;
    height:100px;
    bottom: 0%;
    left: 0%;
    margin:20px 0 0 0;
    padding: 15px 0px 20px 0px;
    border-top: 10px solid #EE4F3E;
    text-align: center;
}


/*-------------------------------------------*/
/*  PAGES  */
/*-------------------------------------------*/


/* ----- FRONT STORE ----- */

/* WELCOME STORE PAGE */

.welcome {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5)),url(img/hero.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
}

.welcome-store {
    position:absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 30px;
    text-align: left;
}

.welcome-store a{
    margin-left: 30px;
}

/* HOME PAGE */




/* PRODUCT */

.section-products{
    position: relative;
}

.product-info {
    width: 90%;
    margin-left: 5%;
}

.product-info img {
    border-radius: 8px;
    width:75;
}

.product-info div {
    padding: 15px;
}

.product-info h5 {
    text-align:center;
    vertical-align: middle;
}

#manufacturer {
    color: #EE4F3E;
}

#price-per-unit {
    font-size: 100%;
}
/* AISLE */



/* ----- BACK STORE ----- */



/*===========================================*/
/*  MEDIA QUERIES  */
/*===========================================*/

/*Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px){
    .welcome-store {
        width:100%;
    }

}

/*Small tablet to big tablet: from 768px to 1023px - since ipad landscape is 1024px*/
@media only screen and (max-width: 1023px) {

}

/* Small phones to small tablets: from 481px-767px */
@media only screen and (max-width: 767px) {

}

/* Small phones: From 0 to 480px */
@media only screen and (max-width: 480px) {

}



